/* BRAND COLORS:

Hardluck Blue   #0088cc (  0,136,204)
Hardluck Grey   #666677 (102,102,119)

PLACEHOLDER     #969696 (150,150,150)
DISABLED        #c2c2cc (194,194,204)

OW Orange       #f99e1a	(249,158, 26)
OW Grey         #43484c	( 67, 72, 76)
OW Dark Blue    #405275	( 64, 82,117)
OW Lite Blue    #218ffe	( 33,143,254)
Black           #000000	(  0,  0,  0)

*/

form.characterSheet{
    /* MAKE ME */
    
    display: block;
    position: relative;
    width: 80%;
    margin: 0px auto 10px auto;
    padding: 30px 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px 2px #000000;
    background: transparent url("../images/parchment_texture_01.jpg") repeat center top;
    font-size: 16px;
    font-weight: 600;
    color: rgba(102,102,119,.9);
}

.characterSheet p {
    display: block;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(102,102,119,.9);
    text-align: justify;
}

.characterSheet ::placeholder {
    color: rgba(150,150,150, .75); /* PLACEHOLDER COLOR */
    font-weight: 400;
}

.characterSheet .incomplete ::placeholder {
    color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 5px;
    
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    
    position: absolute;
    z-index: 50;
    top: 5px;
    left: 5px;
}

.tooltip .tooltipText::first-line {
    font-weight: 600;
}
.tooltip:hover .tooltipText {
    visibility: visible;
}

/*********************************************************/

.characterSheet input[type="text"]{
    display: block;
    width: calc(50% - 10px);
    margin: 10px 5px 25px 5px;
    padding: 0px 5px;
    
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(102,102,119,.9);
    
    font-size: 16px;
    font-weight: 600;
    color: rgba(  0,136,204,.9); /** Hardluck Blue **/
    float: left;
}

.characterSheet input[type="text"]:focus{
    border: none;
    border-bottom: 2px solid rgba( 33,143,254, 1); /** OW LITE BLUE **/
    background-color: transparent;
    color: rgba( 33,143,254, 1); /** OW LITE BLUE **/
    box-shadow: 0px 6px 10px -4px rgba( 33,143,254, 1); /** OW LITE BLUE **/
    outline: none;
}

.characterSheet input[name=player_name]{
    width: calc(100% - 10px);
    font-size: 20px;
    text-align: center;
}

/*********************************************************/

.characterSheet select {
    width: calc(25% - 10px);
    margin: 10px 5px 25px 5px;
    padding: 0px 5px;
    
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(102,102,119,.9);
    
    font-size: 16px;
    font-weight: 600;
    color: rgba(  0,136,204,.9); /** Hardluck Blue **/
    float: left;
}

.characterSheet select:focus {
    border-bottom: 2px solid rgba( 33,143,254, 1); /** OW LITE BLUE **/
    color: rgba( 33,143,254, 1); /** OW LITE BLUE **/
    box-shadow: 0px 6px 10px -4px rgba( 33,143,254, 1); /** OW LITE BLUE **/
    outline: none;
}

.characterSheet select.emptySelect {
    font-weight: 400;
    color: rgba(150,150,150, .75); /* PLACEHOLDER COLOR */
}

.characterSheet select.fullSelect {
    font-weight: 600;
    color: rgba(  0,136,204,.9); /** Hardluck Blue **/
}

.characterSheet select option{
    background-color: #ece2c7;
    font-weight: 600;
    color: rgba(102,102,119,.9);
}

.characterSheet select option:disabled{
    color: rgba(194,194,204,.9);
}

option[dummyoption]{
    display: none;
}

/*********************************************************/

.characterSheet fieldset{
    margin-bottom: 35px;
    padding: 3px 10px 11px 10px;
    border: 1px solid rgba(102,102,119,.9);
    clear: both;
}

.characterSheet fieldset legend {
    padding: 0px 7px;
    font-weight: 400;
    font-style: italic;
}

.characterSheet div.radioWrapper{
    width: calc(33% - 10px);
    margin: 0px 5px 0px 5px;
    float:left;
    overflow: visible;
    white-space: nowrap;
}

.characterSheet div.radioWrapper input, .characterSheet div.radioWrapper label {
    cursor: pointer;
}

.characterSheet div.radioWrapper label {
    padding-left: 5px;
    font-weight: 400;
    color: rgba(150,150,150, .75); /* PLACEHOLDER COLOR */
}

.characterSheet div.radioWrapper input:focus+label {
    font-weight: 600;
    color: rgba( 33,143,254, 1); /** OW LITE BLUE **/
}

.characterSheet div.radioWrapper input:checked+label {
    font-weight: 600;
    color: rgba(  0,136,204,.9); /** Hardluck Blue **/
}

/*********************************************************/

.characterSheet .statController ul{
    display: block;
    width: calc(75% - 40px);
    margin: 10px 5px 25px 5px;
    padding: 0px 10px 0px 20px;
    font-size: 12px;
    font-weight: 400;
    float:left;
}
.characterSheet .statController li{
    padding-bottom: 10px;
}

.characterSheet select[name=stat_roller]{
    width: calc(100% - 10px);
    margin: 0px 5px 30px 5px;
    font-size: 14px;
    text-overflow: ellipsis;
    clear:both;
}

/*********************************************************/

.characterSheet .abilityBox{
    width: calc(30% - 10px);
    margin: 10px 5px 15px 5px;
    padding: 0px 5px;
    text-align: center;
    float: left;
}

.characterSheet .abilityBox input[type=number]{
    display: inline-block;
    width: calc(50% - 5px);
    margin: 0px 0px 10px 0px;
    padding: 2px 0px 2px 10px;
    
    background-color: transparent;
    border: 1px solid rgba(102,102,119,.9);
    
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: rgba(  0,136,204,.9); /** Hardluck Blue **/
    clear: both;
}

.characterSheet .abilityBox label{
    display: inline-block;
    width: calc(50% - 5px);
    margin: 0px 0px 10px 5px;
    
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: rgba(102,102,119,.9);
}

.characterSheet input[type=number]:focus+label {
    color: rgba( 33,143,254, 1); /** OW LITE BLUE **/
}

.characterSheet input[type=number]:focus {
    box-shadow: 0px 6px 10px -4px rgba( 33,143,254, 1); /** OW LITE BLUE **/
}

/*********************************************************/

.characterSheet fieldset.statBox{
    width: calc(70% - 40px);
    float: left;
    clear: unset;
    margin-bottom: 20px;
}

.characterSheet .statWrapper{
    display: table;
    width: calc(50% - 22px); /* Accounts for Border & Padding */
    height: 65px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgba(194,194,204,.7);
    border-radius: 5px;
    float: left;
}

.characterSheet .statWrapper span{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.characterSheet .statWrapper span.statvalue[calculated="false"]{
    color: rgba(150,150,150, .75); /* PLACEHOLDER COLOR */
    font-weight: 400;
}

.characterSheet .statWrapper span.statvalue[calculated="true"]{
    color: rgba(  0,136,204,.9); /** Hardluck Blue **/
}

.characterSheet .tooltip:hover .tooltipText {
    width: calc(100% - 20px);
    vertical-align: middle;
}

/*********************************************************/

.characterSheet div.submitButton {
    width: 100%;
    margin: 0px;
    height: 40px;
}

.characterSheet div.submitButton button{
    display: none;
    width: 200px;
    margin: 0px auto;
    padding: 10px;
    
    background-color: transparent;
    border: 1px solid rgba( 67, 72, 76, .25);
    border-radius: 5px;
    color: rgba( 67, 72, 76, .25);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-style: italic;
    
    pointer-events: none;
}

.characterSheet div.submitButton button.active {
    display: block;
    background-color: rgba(194,194,204, .3);
    border: 1px solid rgba(102,102,119,  1);
    color: rgba(102,102,119,1);
    
    cursor: pointer;
    pointer-events: unset;
}

.characterSheet div.submitButton button.active:hover{
    background-color: rgba( 33,143,254, .5);
    border: 1px solid rgba( 33,143,254, 1);
    color: rgba(255,255,255, 1);
}

.characterSheet div.submitButton button.active:focus{
    background-color: rgba(  0,136,204, 1);
    border: 1px solid rgba(  0,136,204, 1);
    color: rgba(255,255,255, 1);
}


/* Large */
    @media (min-width: 1200px) {
        
    }

/* Medium */
    @media (min-width: 768px) and (max-width: 979px) {
        
    }

/* Small */
    @media (max-width: 767px) {
        
    }

/* XS */
    @media (max-width: 480px) {
        
        .characterSheet input[name=character_name]{
            width: calc(100% - 10px);
        }
        
        .characterSheet select {
            width: calc(50% - 10px);
        }
        
        .characterSheet div.radioWrapper{
            width: calc(30% - 10px);
        }
        
        .characterSheet .abilityBox{
            width: calc(50% - 10px);
        }
        
        .characterSheet fieldset.statBox{
            width: calc(50% - 40px);
        }
        
        .characterSheet .statWrapper{
            width: calc(100% - 22px);
            height: 24px;
        }
        
    }

info{
    display: none;
}